<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<form action="login/login" method="post" id="login-form"
		name="login-form">
		<h1>INICIA SESSION</h1>
		<div>
			<label>Usuario:</label> <input type="text" id="usuario"
				name="usuario">
		</div>
		<div>
			<label>Contraseña:</label> <input type="password" id="pw" name="pw">
		</div>
		<div id="mensajeValidacion"></div>
		<div>

			<a href="/usuario">¿Deseas Registrarte?</a>
		</div>
		<div>
			<button type="submit">Enviar</button>
		</div>
	</form>
	
		<div class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<!--button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button-->
					<!--h4 class="modal-title" id="myModalLabel">Confirmar></h4-->
					<p id="msj-modal">Mensaje</p>
				</div>
				<div class="modal-footer">

					<button type="button" class="btn btn-default" id="modal-btn-si">
						<p id="si">Si</p>
					</button>
					<button type="button" onclick="TablaUsuarios();"
						class="btn btn-primary" id="modal-btn-no">
						<p id="no">No</p>
					</button>
				</div>
			</div>
		</div>
	</div>
	
</body>
<script type="text/javascript">
	$(function() {
		$('button[type=submit]').click(
				function(e) {
					/* var datos = {
						   
							usuario : document.getElementById("usuario").value,
							pw : document.getElementById("pw").value
							
						};*/
					e.preventDefault();

					//Remove all errors
					$('input').next().remove();
					//var xhr = null;		      
					// Enviar petición
					//xhr =
					$.post({
						//dataType : 'json',
						//contentType: 'application/json; charset=utf-8',
						url : "login/login",
						data : $('form[name=login-form]').serialize(),
						success : function(data, textStatus, xhr) {
							if (xhr.status == 200
									&& xhr.statusText == "success") {
								setTimeout(function() {
									window.location.href = xhr.responseText;
								}, 3000);

							}

						},
						error : function(data, textStatus, xhr) {
							if(data.status == 500 || data.statusText == "error" ){
								$("#mi-modal").modal('show');
								$("#modal-btn-no").hide();
								$("#msj-modal").text('Estatus:'+data.status+" Error del servidor");
								$("#si").text('Aceptar');
								
								$("#modal-btn-si").on("click", function() {
									$("#mi-modal").modal('hide');
								});
							}
							if (data.status == 404
									&& data.statusText == "error") {
								setTimeout(
										function() {
											$("#mensajeValidacion").html(
													'<p>' + data.responseText
															+ '</p>');
										}, 3000);
							}

						},
						async : true,
						cache : false
					});

					// Cancelar petición
					//xhr.abort()

				});
	});
</script>
</html>