<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Registrate.</h1>
		</div>
		<div class="container">
			<div class="card">
				<div class="card-body">
					<form action="usuario/agregar" method="post" name="form-registro">
						<div>
							<label for="nombre">Nombre:</label> <input type="text"
								id="nombre" name="nombre">
						</div>
						<div>
							<label for="usuario">Usuario:</label> <input type="text"
								id="usuario" name="usuario">
						</div>
						<div>
							<label for="pw">Password:</label> <input type="password" id="pw"
								name="pw">
						</div>
						<div>
							<label>Correo:</label> <input type="email" id="correo"
								name="correo">
						</div>
						<div>
							<label>Masculino</label> <input type="radio" name="genero"
								value="MASCULINO"> <label>Femenino</label> <input
								type="radio" name="genero" value="FEMENINO"> <label>Otros</label>
							<input type="radio" name="genero" value="OTROS">
						</div>
						<div>
							<label for="fecha-nacimiento">Fecha Nacimiento</label> <input
								type="date" id="fechaNacimiento" name="fechaNacimiento">
						</div>
						<div>
							<select name="pais" id="pais">
								<option selected="true" disabled="disabled" value="0">SELECCIONA
									CIUDAD</option>
								<option value="MEXICO">MÉXICO</option>
								<option value="MOTERREY">MONTERREY</option>
								<option value="DURANGO">DURANGO</option>
							</select>
						</div>
						<div id="mensaje-validacion"></div>
						<div>
							<button type="submit">Enviar</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<!--button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button-->
					<!--h4 class="modal-title" id="myModalLabel">Confirmar></h4-->
					<p id="msj-modal">Mensaje</p>
				</div>
				<div class="modal-footer">

					<button type="button" class="btn btn-default" id="modal-btn-si">
						<p id="si">Si</p>
					</button>
					<button type="button" onclick="TablaUsuarios();"
						class="btn btn-primary" id="modal-btn-no">
						<p id="no">No</p>
					</button>
				</div>
			</div>
		</div>
	</div>

</body>
<script type="text/javascript">
	$(function() {
		$('button[type=submit]').click(
				function(e) {
					/*var datos = {
							nombre : document.getElementById("nombre").value,
							usuario: document.getElementById("usuario").value,
							pw : document.getElementById("pw").value
						};*/

					e.preventDefault();

					//Remove all errors
					$('input').next().remove();
					console.log($('form[name=form-registro]').serialize());
					$.post({
						url : "usuario/agregar",
						data : $('form[name=form-registro]').serialize(),
						success : function(data, textStatus, xhr) {
							if (xhr.status == 200
									&& xhr.statusText == "success") {
								setTimeout(function() {
									window.location.href = "/login";
								}, 3000);

							}

						},
						error : function(data, textStatus, xhr) {
							if (data.status == 500
									&& data.statusText == "error") {
								$("#mi-modal").modal('show');
								$("#modal-btn-no").hide();
								$("#msj-modal").text(
										'Estatus:' + data.status
												+ " Error del servidor");
								$("#si").text('Aceptar');

								$("#modal-btn-si").on("click", function() {
									$("#mi-modal").modal('hide');
								});
							}
							if (data.status == 400
									&& data.statusText == "error") {
								setTimeout(
										function() {
											$("#mi-modal").modal('show');
											$("#modal-btn-no").hide();
											$("#msj-modal").text(
													'A ocurrido un error');
											$("#si").text('Aceptar');

											$("#modal-btn-si").on(
													"click",
													function() {
														$("#mi-modal").modal(
																'hide');
													});
										}, 3000);

							}
						},
						async : true,
						cache : false
					});

				});
	});
</script>

</html>